@property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
  }


.d20 {
    user-select: none;
    min-height: 100vh; // height of the browser viewport
    display: flex;
    align-items: center;
    transition: --num 1s;
    counter-reset: num var(--num);

}

.d20:hover {
    cursor: pointer;
    --num: 20;
}

.d20::after {
    content: counter(num);
}

.hex {
    color: #000;
    font-size: 200px;
    

}

.d20 h2 {
    color: greenyellow;
    
}